<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>设备界面2</title>
  <link rel="stylesheet" href="mystyle2.css">
</head>
<body>
<!-- 导航栏 -->
<header>
  <ul class="navigation">
    <li><a href="{{ url_for('user.index') }}">关于</a></li>
    <li><a href="{{ url_for('user.mainindex') }}">首页</a></li>
    <li><a href="{{ url_for('user.team') }}">团队</a></li>
    <li><a href="{{ url_for('user.purchase') }}">购买</a></li>
    {% if user %}
       <Li><a href="{{ url_for('user.mine') }}">{{ user.username }}</a></Li>
    {% else %}
      <li><a href="{{ url_for('user.register') }}">注册</a></li>
    {% endif %}
  </ul>
</header>

<div>
  <div style="margin: 0 auto;width:1250px">
    <!-- 左上角logo图标 -->
    <img id="logo" src="logo.png" style="position: relative;text-align: left;">
  </div>
  <!-- 绑定设备 -->
  <p style="text-align: center;margin-top: 200px;font-size: 60px;
        letter-spacing: 7px;font-weight: 550;">
    设备努力绑定中
  </p>
</div>

<div style="margin: 0 auto;width:1250px">
  <!-- 左边的矩形 -->
  <div style="position: relative;text-align: left;">
    <img src="rectangle_left.png" style="margin-top: 151px;">
  </div>

  <!-- 右边的矩形 -->
  <div style="position: relative; margin-top: -844px;text-align: right;">
    <img src="rectangle_right.png">
  </div>
</div>

<!-- 版权 -->
<div id="div4">
  <h4 align="center" style="margin-top: 120px;font-size: 20px;">矩阵动力</h4>
</div>

<div id="div5" style="color: rgb(176,176,176); font-size: 13px;width: 298px;margin: 10px auto;">
  <p>地址：北京市海淀区清华东路35号北京林业大学</p>
  <p>电话：298-63985466</p>
  <p>邮箱：qh13005968844@gmail.com</p>
</div>

<div id="div6" align="center">
  <img src="/static/images/weibo.png" alt="">
  <img src="/static/images/wechat.png" alt="">
  <img src="/static/images/twitter.png" alt="">
</div>

<p align="center" style="color: rgb(176,176,176);margin-top: 60px;font-size: 13px;">
  ©2022 aone.版权所有.
</p>
</body>
</html>