{% extends "base.html" %}

{% block title %}矩阵动力团队{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
  <div>
        <!-- 左上角logo图标 -->
        <img id="logo" src="/static/images/logo1.png" alt="矩阵动力logo"
        height="120px" width="120px" > <br>
        <!-- 文字 -->
        <p  id="team">团队组成</p>
        <p  id="laiyuan">来自于北京林业大学</p>
    </div>

    <div>
        <!-- 左边正方形 -->
        <div style="position: absolute;margin-top: -40px;">
            <img src="square.png" alt="" style="width: 320px;height:320px;">
        <!-- 右边正方形 -->
        </div>
        <div style="position: absolute; margin-top: 150px;margin-left: 900px;">
            <img src="square.png" alt="" style="width: 320px;height:320px;">
        </div>
    </div>

    <!-- 成员信息 -->
    <div style="width: 1000px;height: 300px; margin-left: 100px;
    border: 1px solid rgb(176,176,176);background-color: white;z-index: 10;
    position: absolute;margin-top: 80px;">
        <h1 align="center">成员信息</h1>
    </div>

    <!-- 版权 -->
    <div id="div4" style="margin-top: 550px;">
        <h4 align="center">矩阵动力</h4>
    </div>

    <div id="div5"  style="color: rgb(176,176,176); margin-left: 500px;
    font-size: 14px;margin-top: 30px;">
        <p>地址：北京市海淀区清华东路35号北京林业大学</p>
        <p>电话：298-63985466</p>
        <p>邮箱：qh13005968844@gmail.com</p>
    </div>

    <div id="div6" align="center">
        <img src="weibo.png" alt="">
        <img src="wechat.png" alt="">
        <img src="twitter.png" alt="">
    </div>

    <p align="center" style="color: rgb(176,176,176);margin-top: 100px;font-size: 14px;">
        ©2022 aone.版权所有.
    </p>

{% endblock %}