<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>找回密码界面2</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <!-- 导航栏 -->
    <header>
        <ul class="navigation">
            <li> <a href="#">关于</a> </li>
            <li> <a href="#">设备</a> </li>
            <li> <a href="#">首页</a> </li>
            <li> <a href="#">团队</a> </li>
            <li> <a href="#">购买</a> </li>
        </ul>
    </header>

    <div>
        <img id="logo" src="logo.png" alt="矩阵动力logo"> <br>
        <img src="circle.png" style="margin-top: 300px;margin-left: -250px;position: absolute;"> 
        <p id="password">找回密码</p>
        <p id="pnumber">请重置密码</p>
    </div>
        
    <div id="div2">
        <p align="center">
        <input class="kuang" type="password" name="password1" placeholder="请输入您的新密码"
        size="35" >
        </p>
        <p align="center" style="margin-top: 10px;">
        <input class="kuang" type="password" name="password2" placeholder="请确认您的新密码"
        size="35">
        </p>
    </div>
        
    <div id="div3" align="center">
        <input id="next" type="button" value="完成" style="border-radius: 20px;">
    </div>
        
    <div id="div4">
        <h4 align="center" style="margin-top: 10px;font-size: 20px;">矩阵动力</h4>
    </div>
        
    <div id="div5" style="color: rgb(176,176,176);font-size: 13px;width: 298px;margin: 10px auto;">
        <p>地址：北京市海淀区清华东路35号北京林业大学</p>
        <p>电话：298-63985466</p>
        <p>邮箱：qh13005968844@gmail.com</p> 
    </div>
        
    <div align="center" id="div6">
        <img src="weibo.png" alt="">
        <img src="wechat.png" alt="">
        <img src="twitter.png" alt="">
    </div>
        
    <p align="center" style="color: rgb(176,176,176);margin-top: 60px;font-size: 13px;">
        ©2022 aone.版权所有.
    </p>
</body>
</html>