* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: black;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    left: 150px;
    top: 15px;
    margin: 0 auto;
}

header .navigation li {
    display: inline-block;
    list-style: none;
    margin: 10px 75px;
}

header .navigation li a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.2 linear;
    padding: 8px 15px;
    border-radius: 20px;
}

header .navigation li a:hover {
    background-color: rgb(44, 101, 248);
}

.active {
    background-color: rgb(44, 101, 248);
}
/* 左上角logo图标 */

#logo1 {
    position: absolute;
    left: 20px;
    top: 120px;
}
body{
    background-color: white;
    background-size: 100% auto;
}
.logo1{
    
    position: absolute;
    margin-left: 50px;
    margin-top: 1%;
}
#p1left{
    margin: 0 auto;
    position:relative;
    width: 400px;
    height: 600px;
    left: -500px;
    top: 100px;
}
#p1right{
    margin: 0 auto;
    position:relative;
    width: 400px;
    height: 600px;
    left: 300px;
    top: -500px;
    background-color: white;
    border-color: rgb(189, 189, 189);
    border-width: 1px;
    border-style: solid;
    z-index: -1;
}
.rightblue{
    position: absolute;
    margin-left: 50%;
    margin-top: 0;
    z-index: -1;
}
#p2left{
    margin: 0 auto;
    position:relative;
    width: 400px;
    height: 600px;
    left: -400px;
    top: 100px;
    background-color: white;
    border-color: rgb(189, 189, 189);
    border-width: 1px;
    border-style: solid;
    z-index: -1;
}
#p2right{
    margin: 0 auto;
    position:relative;
    width: 400px;
    height: 600px;
    left: 300px;
    top: -500px;
    background-color: white;
    border-color: rgb(189, 189, 189);
    border-width: 1px;
    border-style: solid;
    z-index: -1;
}
.leftblue{
    position: absolute;
    margin-left: -200px;
    margin-top: 1%;
    z-index: -1;
}
.actor{
    position: absolute;
    top:2250px;
    left: 44%;
    height: 100px;
    z-index: 1;
    color: gray;
    
}
.weibo{
    position: absolute;
    border:none;
    top:2350px;
    left: 43%;
    z-index: 1;
}
.weixin{
    position: absolute;
    border:none;
    top:2350px;
    left: 48%;
    z-index: 1;
}
.feishu{
    position: absolute;
    border:none;
    top:2350px;
    left: 53%;
    z-index: 1;
} 
.down{
    position: absolute;
    top:2400px;
    left: 45%;
    z-index: 1;
    color: gray;
}